#cv-button {
  background-color: black;
  color: white;
}

.download-cv {
  margin: 0.2hw;
  padding: 0.2hw;
  background-color: rgb(219, 119, 119);
}

.download-logo {
  width: 20px;
  background-color: transparent;
}


@media screen and (max-width: 1024px) {
  .web-cv {
    width: 600px;
    height: 800px;
  }
}


/*
#web-cv {
  width: 10vw;
  height: 10vw;
}
*/

