/*----------header----------*/
.link-social {
  margin: 0;
  padding: 0;
}

.header-title {
  border-bottom: 20px groove rgb(255, 90, 148);
}
.name-title {
  margin: 0% 0% 0% 0%;
}
.name-title-sub {
  margin: 0% 0% 0% 0%;
}
.logo-SFLK {
  height: 10vw;
}
#github {
  grid-area: github;
}

/*----------nav----------*/
.nav-bar {
  display: flex;
  letter-spacing: 0.3vw;
}
.nav-button {
  text-align: center;
  padding: 1% 4% 1% 4%;
  margin: 0% 1%0% 1%;
  font-size: 3vw;
  transition: ease-out 0.3s;
  border-radius : 2vw;
}
.nav-button:visited {
  color: black;
}
.nav-button:hover {
  background-color: rgb(255, 90, 148);
  color: white;
  transition: ease 0.3s;
}

/*----------footer----------*/
.footer-text {
  color : rgb(255, 90, 148);
  margin: 0;
  padding: 0;
}
