/*----------header----------*/
.photo-profil {
    width: auto;
    height: 200px;
    border-radius: 10%;
    margin: 10px;
    float: left;
    margin: 0% 2% 0% 2%;
  }
  
  .link-social {
    margin: 1% 1% 1% 1%;
    padding: 1% 1% 1% 1%;
  }
  .header-title {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 0% 10% 0% 10%;
    box-shadow: 8px 8px 9px #969696, -8px -8px 9px #ffffff;
  }
  .name-title {
    margin: 0% 0% 0% 0%;
  }
  .name-title-sub {
    margin: 0% 0% 0% 0%;
  }
  .logo-ens-rennes {
    width: auto;
    height: 55px;
    float: inline-end;
  }
  
  .button-link {
    width: 40px;
    padding: 0% 0% 10% 50%;
  }
  #github {
    grid-area: github;
  }
  #dicord {
    grid-area: discord;
  }
  #linkedin {
    grid-area: linkedin;
  }
  #instagram {
    grid-area: instagram;
  }
  .link-social {
    display: grid;
    grid-template-areas:
      "github linkedin"
      "instagram discord";
    gap: 20%;
  }

/*----------nav----------*/
.nav-bar {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
  }
  
  .nav-button {
    color: black;
    text-align: center;
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 1% 4% 1% 4%;
    font-size: 2rem;
    transition: ease-out 0.3s;
    border-radius: 0%;
  }
  
  .nav-button:hover {
    background-color: black;
    color: white;
    transition: ease 0.3s;
  }
/*----------footer----------*/
.footer-text {
    font-weight: bold;
    padding: 5% 0% 0% 0%;
  }
  