#home-button {
  background-color: black;
  color: white;
}

.logo-lapin {
  width: 30px;
  border-radius: 5px;
  float: center;
}

#introduction {
  border : 2px solid white;
  padding: 1vw 1vw 1vw 1vw;
  margin: 1vw 1vw 1vw 1vw;
}

#main-home {
  padding: 1vw 10vw 1vw 10vw;
  margin: 0vw 0vw 0vw 0vw;
}