#interests-button {
  background-color: black;
  color: white;
}

#chess {
  grid-area: chess;
}
#gaming {
  grid-area: gaming;
}
#music {
  grid-area: music;
}
main {
  display: grid;
  grid-template-areas:
    "chess gaming"
    "music music";
  gap: 1vw;
  text-align:justify;
}

#chess, #gaming, #music {
  border: 2px solid white;
  padding: 3vw 3vw 3vw 3vw;
  margin: 1vw 0vw 1vw 0vw;
  border-radius: 0%;
}

.title-interests {
  font : 2.5vw bold;
  text-align: center;
  margin: 0% 0% 0% 0%;
}

#logo-chesscom {
  height: 3vw;
  float: inline-end;
}
#logo-lichess{
  height: 5vw;
  float: inline-end;
}