#projects-button {
  background-color: black;
  color: white;
}
#projects-1 {
  grid-area: x1;
}
#projects-2 {
  grid-area: x2;
}
#projects-3 {
  grid-area: x3;
}
#projects-4 {
  grid-area: x4;
}
.grid {
  color : white;
  border: 2px solid white;
  padding: 2vw 2vw 2vw 2vw;
  margin: 1vw 2vw 1vw 2vw;
  border-radius: 0%;
  height : 8vw;
  width: 30vw;
}

main {
  display: grid;
  grid-template-areas:
    "x1 x2"
    "x3 x4";
  gap: 1vw;
  text-align: justify;
}

