#projects-button {
  background-color: black;
  color: white;
}
#game-dev {
  grid-area: game-dev;
}
#fire-propagation {
  grid-area: fire-propagation;
}
#ai {
  grid-area: ai;
}
#jgk-algo {
  grid-area: jgk-algo;
}
main {
  display: grid;
  grid-template-areas:
    "game-dev fire-propagation"
    "ai jgk-algo";
  gap: 5%;
}

main div {
  border: 2px solid white;
  padding: 5vw 8vw 8vw 5vw;
  border-radius: 0%;
  text-align: center;
}
