* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

html {
  height: 100%;
  background-color: white;
}

header {
  margin: 3vw;
  padding: 0%;
  display: flex;
  align-items: center;
  border-radius: 0px;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
main,
footer {
  height: 100%;
  color: white;
  background-color: black;
}
main {
}

footer {
  text-align: center;
  font-size: small;
}
