#web-dev-button {
  background-color: black;
  color: white;
}

#sflk {
  grid-area: sflk;
}
#my_website {
  grid-area: my_website;
}
main {
  display: grid;
  grid-template-areas: "my_website sflk";
  gap: 20%;
}
main div {
  border: 2px solid white;
  padding: 50p 50px 50px 50px;
  border-radius: 0%;
}
