#web-dev-button {
  background-color: black;
  color: white;
}

#web-dev-1 {
  grid-area: x1;
}
#web-dev-2 {
  grid-area: x2;
}
main {
  display: grid;
  grid-template-areas: "x1 x2";
  gap: 0%;
}
.grid {
  color : white;
  border: 2px solid white;
  padding: 2vw 2vw 2vw 2vw;
  margin: 1vw 2vw 1vw 2vw;
  border-radius: 0%;
  height : 20vw;
  width: 30vw;
}

#my-website {
  display: flex;
  flex-direction: column;
}

#image-my-website , #image-github-my-website{
  height: 7vw;
  float: inline-end;
}