.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 70px;
  margin: 10% 5% 20% 5%;
  transition: ease 0.4s;
}

.button:hover {
  width: 90px;
  margin: 10% 8% 20% 8%;
  transition: ease 0.4s;
}
