#interests-button {
  background-color: black;
  color: white;
}

#interests-1 {
  grid-area: x1;
}
#interests-2 {
  grid-area: x2;
}
#interests-3 {
  grid-area: x3;
}
main {
  display: grid;
  grid-template-areas:
    "x1 x2"
    "x3 x3";
  gap: 1vw;
  text-align:justify;
}

.grid {
  border: 2px solid white;
  padding: 3vw 3vw 3vw 3vw;
  margin: 1vw 1vw 1vw 1vw;
  border-radius: 0%;
  height : 8vw;
  width: 30vw;
}


#logo-chesscom {
  height: 3vw;
  float: inline-end;
}
#logo-lichess{
  height: 5vw;
  float: inline-end;
}