.nav-bar {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.nav-button {
  color: black;
  text-align: center;
  background-color: rgb(240, 240, 240);
  margin: 0px;
  padding: 1% 4% 1% 4%;
  font-size: 2rem;
  transition: ease-out 0.3s;
  border-radius: 0%;
}

.nav-button:hover {
  background-color: black;
  color: white;
  transition: ease 0.3s;
}
