.photo-profil {
  width: auto;
  height: 200px;
  border-radius: 10%;
  margin: 10px;
  float: left;
  margin: 0% 2% 0% 2%;
}
.link-social {
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}

.button-link:hover {
  width: 100px;
}

.header-small-logo {
  width: 30px;
}

.header-title {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0% 10% 0% 10%;
  box-shadow:  8px 8px 9px #969696,
             -8px -8px 9px #ffffff;
}

.name-title {
  margin: 0% 0% 0% 0%;
}

.name-title-sub {
  margin: 0% 0% 0% 0%;
}

.link-social {
  display: flex;
  flex-direction: column;
}
.logo-ens-rennes {
  width: auto;
  height: 55px;
  float: inline-end;
}
